.home-text {
  text-align: center;
  color: var(--color-white);
  /* padding: 15rem auto 0 auto; */
  padding-top: 15rem;
}

.home-text h2 {
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: 800;
  padding-bottom: 2rem;
}

.home-text p {
  font-size: 3rem;
  margin: 0 3rem;
}

@media screen and (max-width: 56.25rem) {
  .home-text h2 {
    font-size: 4rem;
  }
  .home-text p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 37.5rem) {
  .home-text h2 {
    font-size: 3rem;
  }
}
/* End of Hero-section Styling */
