.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.nav-lists {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 2rem;
  text-transform: uppercase;
  transition: all ease 0.5s;
}

.nav-list a:hover {
  color: var(--color-primary);
}

/* .nav-list a.active{
  color: red;
} */
